<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:kartikeyavadlapatla/jenkins.git</url>
        <credentialsId>github</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>/home/kxv6921/git-code</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.nirima.jenkins.plugins.docker.builder.DockerBuilderPublisher plugin="docker-plugin@1.1.6">
      <dockerFileDirectory>/home/kxv6921/git-code/</dockerFileDirectory>
      <fromRegistry plugin="docker-commons@1.13"/>
      <tags>
        <string>kxv6921:${BUILD_NUMBER}</string>
      </tags>
      <pushOnSuccess>false</pushOnSuccess>
      <pushCredentialsId></pushCredentialsId>
      <cleanImages>false</cleanImages>
      <cleanupWithJenkinsJobDelete>false</cleanupWithJenkinsJobDelete>
      <cloud></cloud>
    </com.nirima.jenkins.plugins.docker.builder.DockerBuilderPublisher>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.2">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateContainerCommand">
        <image>kxv6921:${BUILD_NUMBER}</image>
        <command>docker create -v /home/kxv6921/git-code:/git-code --publish-all --name data kxv6921:${BUILD_NUMBER}</command>
        <hostName></hostName>
        <containerName></containerName>
        <envVars></envVars>
        <links></links>
        <exposedPorts></exposedPorts>
        <cpuShares></cpuShares>
        <memoryLimit></memoryLimit>
        <dns></dns>
        <extraHosts></extraHosts>
        <publishAllPorts>false</publishAllPorts>
        <portBindings></portBindings>
        <bindMounts></bindMounts>
        <privileged>false</privileged>
        <alwaysRestart>false</alwaysRestart>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>